#!/bin/sh
{{ if eq .chezmoi.os "linux" -}}
{{ if eq .chezmoi.osRelease.name "Ubuntu" -}}
sudo apt install tmux
{{ else if eq .chezmoi.osRelease.name "Arch" -}}
pacman -S tmux
{{ end -}}
git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm
{{ end -}}
