{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env sh

# Distro-specific package installs (ubuntu and debian separated for potential deviation)
{{ if eq .chezmoi.osRelease.id "ubuntu" "debian" "neon" -}}
    sudo apt update && sudo apt install tmux ripgrep ninja-build gettext cmake unzip curl fd-find zathura python3.11-venv build-essential libssl-dev zlib1g-dev libbz2-dev libreadline-dev libsqlite3-dev curl git libncursesw5-dev xz-utils tk-dev libxml2-dev libxmlsec1-dev libffi-dev liblzma-dev 
    {{ if eq .chezmoi.osRelease.id "ubuntu" "neon" -}}
    {{ else if eq .chezmoi.osRelease.id "debian" -}}
        sudo apt install command-not-found && sudo update-command-not-found && sudo apt update
    {{ end -}}
{{ else if eq .chezmoi.osRelease.id "arch" -}}
    pacman -S tmux ripgrep base-devel ninja cmake unzip curl fd
{{ end -}}

# == tmux ==
# tpm
if [ ! -d "$HOME/.tmux/plugins/tpm" ]; then
    export TMUX_PLUGIN_MANAGER_PATH="$HOME/.tmux/plugins/"
    git clone "https://github.com/tmux-plugins/tpm" "$HOME/.tmux/plugins/tpm"
else
    echo "tmux: tpm already installed"
fi

# == Neovim ==
# editor
if [ -f /usr/local/bin/nvim ] || [ -f /usr/bin/nvim ] || [ -d "$HOME/neovim" ]; then
    echo "Neovim: editor already installed"
else
    git clone --depth=1 https://github.com/neovim/neovim.git "$HOME/neovim" 
    cd "$HOME/neovim"
    make CMAKE_BUILD_TYPE=Release -j$(nproc)
    sudo make install
fi

# fonts
if [ -f "$HOME/.local/share/fonts/FiraMonoNerdFontMono-Regular.otf" ]; then
    echo "Neovim: FiraMono already installed"
else
    if  [ ! -d "$HOME/.local/share/fonts" ]; then
        mkdir -p "$HOME/.local/share/fonts"
    fi
    cd "$HOME/.local/share/fonts"
    curl -OL https://github.com/ryanoasis/nerd-fonts/releases/latest/download/FiraMono.tar.xz 
    tar -xf "FiraMono.tar.xz"
    rm "FiraMono.tar.xz"
    cd - >/dev/null
fi

# == Rust ==
# Cargo
if [ -d "$HOME/.cargo" ]; then
    echo "Rust: cargo already installed"
else
    curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
fi

# == Python ==
# Pyenv
if [ -d "$HOME/.pyenv" ]; then
    echo "Python: pyenv already installed"
else
    curl https://pyenv.run | bash
fi

# == Javascript ==
# nvm
if [ -d "$HOME/.config/nvm" ]; then
    echo "JavaScript: nvm already installed"
else
    curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.40.1/install.sh | PROFILE="$HOME/.profile" bash
fi

# deno
if [ -d "$HOME/.deno" ]; then
    echo "JavaScript: deno already installed"
else
    curl -fsSL https://deno.land/install.sh | sh -s -- -y --no-modify-path
fi

# == Golang ==
# go
if [ -d "/usr/local/go" ]; then
    echo "Golang: go already installed"
else
    wget https://go.dev/dl/go1.23.2.linux-amd64.tar.gz
    sudo rm -rf /usr/local/go && sudo tar -C /usr/local -xzf go1.23.2.linux-amd64.tar.gz
    rm "$HOME/go1.23.2.linux-amd64.tar.gz"
fi
{{ end -}}
