#!/bin/sh
{{ if eq .chezmoi.os "linux" -}}
{{ if eq .chezmoi.osRelease.id "ubuntu" -}}
sudo apt-get install tmux ripgrep
{{ else if eq .chezmoi.osRelease.id "arch" -}}
pacman -S tmux ripgrep
{{ end -}}
if [ ! -d "$HOME/.tmux/plugins/tpm" ]; then
    git clone https://github.com/tmux-plugins/tpm $HOME/.tmux/plugins/tpm
fi
{{ end -}}
