#!/bin/sh

{{ if eq .chezmoi.os "linux" -}}
if [ ! -f /usr/local/bin/nvim ]; then
    git clone https://github.com/neovim/neovim.git "$HOME/neovim"
    cd "$HOME/neovim"
    make CMAKE_BUILD_TYPE=Release
    sudo make install
{{ end -}}
