{{ if eq .chezmoi.os "linux" -}}
#!/usr/bin/env sh

# Distro-specific package installs (ubuntu and debian separated for potential deviation)
{{ if eq .chezmoi.osRelease.id "ubuntu" "debian" -}}
    sudo apt update && sudo apt install tmux ripgrep ninja-build gettext cmake unzip curl fd-find zathura python3.11-venv
    {{ if eq .chezmoi.osRelease.id "ubuntu" -}}
    {{ else if eq .chezmoi.osRelease.id "debian" -}}
        sudo apt install command-not-found && sudo update-command-not-found && sudo apt update
    {{ end -}}
{{ else if eq .chezmoi.osRelease.id "arch" -}}
    pacman -S tmux ripgrep base-devel ninja cmake unzip curl fd
{{ end -}}

# Installing tpm and neovim from source
if [ ! -d "$HOME/.tmux/plugins/tpm" ]; then
    export TMUX_PLUGIN_MANAGER_PATH="$HOME/.tmux/plugins/"
    git clone "https://github.com/tmux-plugins/tpm" "$HOME/.tmux/plugins/tpm" && "$HOME/.tmux/plugins/tpm/bin/install_plugins"
else
    echo "tmux: tpm already installed"
fi

if [ -f /usr/local/bin/nvim ] || [ -f /usr/bin/nvim ] || [ -d "$HOME/neovim" ]; then
    echo "Neovim: Already installed"
else
    git clone https://github.com/neovim/neovim.git "$HOME/neovim"
    cd "$HOME/neovim"
    make CMAKE_BUILD_TYPE=Release
    sudo make install
fi

if [ -f "$HOME/.local/share/fonts/FiraMonoNerdFontMono-Regular.otf" ]; then
    echo "NerdFonts: FiraMono already installed"
else
    if  [ ! -d "$HOME/.local/share/fonts" ]; then
        mkdir -p "$HOME/.local/share/fonts"
    fi
    cd "$HOME/.local/share/fonts"
    curl -OL https://github.com/ryanoasis/nerd-fonts/releases/latest/download/FiraMono.tar.xz 
    tar -xf "FiraMono.tar.xz"
    rm "FiraMono.tar.xz"
    cd - >/dev/null
fi
{{ end -}}
