{{- $choices := list "Personal" "Work" "Gamedev" -}}
{{- $hosttype := promptChoice "What type of host are you on?" $choices -}}

{{- $sshpriv := protonPass (printf "pass://%s/SSH Key/Private Key" $hosttype) | trim -}}
{{- $sshpub := protonPass (printf "pass://%s/SSH Key/Public Key" $hosttype) | trim -}}
{{- $email := protonPass (printf "pass://%s/gitconfig/Email" $hosttype) | trim -}}
{{- $name := protonPass (printf "pass://%s/gitconfig/Name" $hosttype) | trim -}}

[data]
	email = {{ $email | quote }}
	name = {{ $name | quote }}
	hosttype = {{ $hosttype | quote }}
	sshpriv = {{ $sshpriv | quote }}
	sshpub = {{ $sshpub | quote }}

{{ if eq .chezmoi.os "linux" -}}
[edit]
    command = "nvim"
[diff]
    reverse=true
    command = "diff"
    args = ["--color=always", "-u"]
    pager = "less -R"
[merge]
    command = "meld"
    args = ['{{ "{{" }} .Destination {{ "}}" }}', '{{ "{{" }} .Source {{ "}}" }}', '{{ "{{" }} .Target {{ "}}" }}']
{{ else if eq .chezmoi.os "windows" -}}
[cd]
command = "powershell"
args = "-NoLogo"
{{ end -}}
{{/* vim: set ft=gotmpl */}}
