{{- $work := false -}}{{/* true on work machine */}}
{{- "" -}}

{{- $hostname := .chezmoi.hostname -}}
{{- if eq $hostname "j-work" -}}
{{-		$work = true -}}
{{- end -}}

{{- $sshpriv := protonPass "pass://Personal/SSH Key/Private Key" | trim -}}
{{- $sshpub := protonPass "pass://Personal/SSH Key/Public Key" | trim -}}
{{- $email := protonPass "pass://Personal/gitconfig/Email" | trim -}}
{{- $name := protonPass "pass://Personal/gitconfig/Name" | trim -}}
{{- if $work -}}
{{-		$sshpriv = protonPass "pass://Work/SSH Key/Private Key" | trim -}}
{{-		$sshpub = protonPass "pass://Work/SSH Key/Public Key" | trim -}}
{{-		$email = protonPass "pass://Work/gitconfig/Email" | trim -}}
{{-		$name = protonPass "pass://Work/gitconfig/Name" | trim -}}
{{- end -}}

[data]
	email = {{ $email | quote }}
	name = {{ $name | quote }}
	work = {{ $work }}
	sshpriv = {{ $sshpriv | quote }}
	sshpub = {{ $sshpub | quote }}

{{ if eq .chezmoi.os "linux" -}}
[edit]
    command = "nvim"
[diff]
    reverse=true
    command = "diff"
    args = ["--color=always", "-u"]
    pager = "less -R"
[merge]
    command = "meld"
    args = ['{{ "{{" }} .Destination {{ "}}" }}', '{{ "{{" }} .Source {{ "}}" }}', '{{ "{{" }} .Target {{ "}}" }}']
{{ end -}}
{{/* vim: set ft=gotmpl */}}
