[user]
	name = {{ .name }}
	email = {{ .email }}
[credential]
	helper = store --file ~/.my-credentials
[init]
	defaultBranch = main
[pull]
	rebase = true
[merge]
	tool = meld
{{- if .work }}
[url "git@gitlab.base"]
	insteadOf = https://gitlab.base
[url "git@gitlab.base:"]
	insteadOf = https://gitlab.base/
{{- end }}
[color]
	ui = auto
